
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

    <div class="row justify-content-center" style="background-color: #3366CC;">
        <br/>
        <br/>

</div>
    <div class="row justify-content-center" >
        <br/>
        <br/>
        <br/>
         <br/>
        <br/>

</div>
    <div class="row justify-content-center" style="background-color: 	#A19E9E;">
        <br/>

</div>
            <div class="col-md-12">
                <div class="d-flex flex-column mb-10 mb-md-0">
         <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_11-28-50_8lZses9.png" width="100%" height="600px"/>
            </div>
    </div>

<div class="col-sm-12">
 <div class="col-md-12">
              <h2 style="font-weight: bold, color: gray">El área delimitada pertenece a la zona céntrica del municipio, donde confluyen las
    principales instituciones de orden territorial, y por lo tanto, donde se reúne gran
    cantidad de población para desarrollar su vida pública.</h2>
         <br/>
         <h2 >Se encuentra sobre el margen de la carretera principal que da acceso al pueblo.
    Esta vía está pavimentada y ensombrecida por hermosos árboles de flores
    naranja que dan la bienvenida.</h2>
     <br/>
              </div>



<div class="col-sm-12">
     <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                          <h2 style="font-weight: bold">Ruta patrimonial
        San Martin de los
        Llanos</h2>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h4 >XXXXXXXXXXXXXXXX
        Lorem Ipsum es simplemente
        un texto ficticio de la industria
        de la impresión y la
        composición tipográfica.
        Lorem Ipsum ha sido</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-link btn-lg">Ver mas...</button>

                    </div>
                </div>
            </div>
           <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/ruta1.png" width="100%" />
                    </div>

                </div>
            </div>
          </div>


</div>

<br/>

  <div class="col-sm-12">
     <div class="row justify-content-center">
          <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/tt2.png" width="100%" />
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                          <h2 style="font-weight: bold">Ruta patrimonial
Granada</h2>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h4 >XXXXXXXXXXXXXXXX
        Lorem Ipsum es simplemente
        un texto ficticio de la industria
        de la impresión y la
        composición tipográfica.
        Lorem Ipsum ha sido</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-link btn-lg">Ver mas...</button>

                    </div>
                </div>
            </div>

          </div>


</div>


<br/>





    <div class="col-sm-12">
     <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                          <h2 style="font-weight: bold">Ruta patrimonial
Lejanias</h2>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h4 >XXXXXXXXXXXXXXXX
        Lorem Ipsum es simplemente
        un texto ficticio de la industria
        de la impresión y la
        composición tipográfica.
        Lorem Ipsum ha sido</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <a href="/rutaturistica/" class="btn btn-link btn-lg" role="button">Ver mas...</a>

                    </div>
                </div>
            </div>
           <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/rt3.png" width="100%" />
                    </div>

                </div>
            </div>
          </div>


</div>
    <br/>

  <div class="col-sm-12">
     <div class="row justify-content-center">
          <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                          <h2 style="font-weight: bold">Ruta patrimonial
        Restrepo</h2>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h4 >XXXXXXXXXXXXXXXX
        Lorem Ipsum es simplemente
        un texto ficticio de la industria
        de la impresión y la
        composición tipográfica.
        Lorem Ipsum ha sido</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-link btn-lg">Ver mas...</button>

                    </div>
                </div>
            </div>

          </div>


</div>


<br/>

    <div class="row justify-content-center" style="background-color: #A19E9E;;">
        <br/>
</div>
<br/>

  <div class="col-sm-12">
     <div class="row ">

            <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">
                <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/ruta1.png" width="100%" />
                    </div>
                     <div class="d-flex justify-content-between mb-3">
                          <h2 style="font-weight: bold">Ruta patrimonial
        San Martin de los
        Llanos</h2>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <h4 >XXXXXXXXXXXXXXXX
        Lorem Ipsum es simplemente
        un texto ficticio de la industria
        de la impresión y la
        composición tipográfica.
        Lorem Ipsum ha sido</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-link btn-lg">Ver mas...</button>

                    </div>
                </div>
            </div>

          </div>


</div>


<br/>

</div>


<div class="row justify-content-center" style="background-color: #0098D8;">
        <br/>
        <br/>
     <br/>
        <br/>
     <br/>
        <br/>
     <br/>
        <br/>

</div>

<div class="row justify-content-center" style="background-color: #3366CC;">
        <br/>
        <br/>

</div>




 </div>


</body>
</html>