
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}

    {% load static %}
    <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ENcuesta transparencia</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

</head>
{% block container %}
<!--
<form action="" method="POST">
    {% csrf_token %}
     <hr>
     <hr>
     <hr>
    {{ form.as_p }}
    <input type="submit" value="Send">
  </form> -->
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form action="{% url 'encuestatransparencia'%}" method="POST">
        {% csrf_token %}
            <br>
        <br>
        <br>




    <div class="container border border-dark mt-3 rounded">
        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <div class="col-sm-5 logo mt-2">
                <img src="{% static 'img/logo.png' %}" width="200px"/>
            </div>
            <div class="col-sm-7 mt-2 text-center">
                <h4 class="font-weight-bold text-uppercase justify-content-center">ENCUESTA <br/>TRANSPARENCIA</h4>
                <div class="text-center rounded mt-4 bg-light" class="bg-light">
                  <span class="text-danger font-weight-bold">No.</span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="background-color: #DAEDFB;">
            <h4 class="text-uppercase font-weight-bold m-1">Encuesta</h4>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-12">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">1. Encontró la información que buscaba?::</span>

                        <span class="text-right"> </span>
                          <tr><th><label for="id_encontro"></label></th><td><select name="encontro" required id="id_encontro">



<option value="" selected>---------</option>
  <option value=SI>SI</option>
    <option value=NO>NO</option>


</select></td></tr>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">2. Si no la encontró especifique en este espacio ¿qué buscaba?:</span>
                        <span class="text-right"></span>
                           <div class="form-group">
            <input class="form-control" type="text" placeholder="noencontro" name="noencontro" required="false" />
        </div>

                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">3. ¿Le resultó fácil la ruta de acceso a la información?:</span>
                        <span class="text-right"></span>
                         <tr><th><label for="id_facil"></label></th><td><select name="facil" required id="id_facil">



<option value="" selected>---------</option>
  <option value=SI> SI</option>
    <option value=NO> NO</option>


</select></td></tr>

                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex flex-column mb-10 mb-md-0">
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">
4. ¿A nivel general, cómo define la información contenida en la página web?</span>
                        <span class="text-right"></span>
<tr><th><label for="id_nivel"></label></th><td><select name="nivel" required id="id_nivel">
 {% for nivel in nivels %}

  <option value="" selected>---------</option>

  <option value={{ nivel.id }}>{{ nivel.name }}</option>

{% endfor %}
</select></td></tr>

                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span class="mr-15 font-weight-bold">5. Si tiene alguna sugerencia escribanos en el siguiente espacio, recuerde que su opinión es muy importante para mejorar nuestro servicio.</span>
                        <span class="text-right"></span>
                         <div class="form-group">

                 <input class="form-control" type="text" placeholder="sugerencia" name="sugerencia" required="false" />
                 </div>



                    </div>
<div class="d-flex justify-content-between mb-3">
                        <button class="btn btn-primary btn-block mt-5" type="submit" value="OK">Enviar encuesta</button>



                    </div>
                </div>
            </div>
        </div>




    </div>


        <br>
</form>








{% endblock %}