<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  </head>
  <body>

  {% for entidad in entidads %}


  <div class="container">
  <!-- For demo purpose -->
  <div class="row py-5">
    <div class="col-lg-9 mx-auto text-red text-center">
      <h1 class="display-4">SIDECU</h1>
      <p class="lead mb-0">AQUÍ PODRA VER TODA LA INFORMACIÓN REGISTRADA DE SU ENTIDAD</p>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <!-- Accordion item 1 -->
        <div class="card">
          <div id="headingOne" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">DATOS DE IDENTIFICACIÓN DE LA ENTIDAD U ORGANIZACIÓN</a></h6>
          </div>
          <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                  <div class="col"><h3>Registrador de la entidad : <small>{{entidad.user}}</small></h3></div>
                    <div class="col"><h3>Nombre de la entidad : <small>{{entidad.name}}</small></h3></div>
                  <div class="col"><h3>Sigla : <small>{{entidad.sigla}}</small></h3></div>
                  <div class="col"><h3>NIt : <small>{{entidad.nit}}</small></h3></div>
                  <div class="col"><h3>Año de constitución : <small>{{entidad.date}}</small></h3></div>
                  <div class="col"><h3>Reseña : <small>{{entidad.reseña}}</small></h3></div>


                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 2 -->
        <div class="card">
          <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">DATOS DEL REPRESENTANTE LEGAL</a></h6>
          </div>
          <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                      <div class="col"><h3>Nombre Representante legal : <small>{{entidad.nombre_representante}}</small></h3></div>
                  <div class="col"><h3>Apellidos Representante legal : <small>{{entidad.apellidos_representante}}</small></h3></div>
                  <div class="col"><h3>TIpode documento : <small>{{entidad.type_document}}</small></h3></div>
                  <div class="col"><h3>Número de identificación : <small>{{entidad.identification}}</small></h3></div>
                  <div class="col"><h3>Lugar de expendición : <small>{{entidad.lugar_expedicion}}</small></h3></div>

                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

        <!-- Accordion item 3 -->
        <div class="card">
          <div id="headingThree" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">DATOS DEL CONTACTO DE LA ORGANIZACIÓN</a></h6>
          </div>
          <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
               <div class="container">
                <div class="row row-cols-2">
                    <div class="col"><h3>Nombre de contacto : <small>{{entidad.nombre_contacto}}</small></h3></div>
                  <div class="col"><h3>Apellidos del contacto : <small>{{entidad.apellidos_contacto}}</small></h3></div>
                  <div class="col"><h3>Cargo : <small>{{entidad.cargo}}</small></h3></div>
                  <div class="col"><h3>Año de vinculación : <small>{{entidad.vinculacion}}</small></h3></div>
                  <div class="col"><h3>Departamento : <small>{{entidad.state}}</small></h3></div>
                  <div class="col"><h3>Municipio : <small>{{entidad.city}}</small></h3></div>
                  <div class="col"><h3>Centro poblado : <small>{{entidad.zone}}</small></h3></div>
                  <div class="col"><h3>Zona(rural-urbana) : <small>{{entidad.zona}}</small></h3></div>
                  <div class="col"><h3>Direccion : <small>{{entidad.direccion}}</small></h3></div>
                  <div class="col"><h3>Direccion de correspondencia : <small>{{entidad.correspondencia}}</small></h3></div>
                  <div class="col"><h3>telefono movil : <small>{{entidad.phone_movil}}</small></h3></div>
                  <div class="col"><h3>telefono : <small>{{entidad.phone}}</small></h3></div>
                  <div class="col"><h3>Apartado aereo : <small>{{entidad.apartado_aereo}}</small></h3></div>
                  <div class="col"><h3>Email : <small>{{entidad.email}}</small></h3></div>
                  <div class="col"><h3>Pagina Web : <small>{{entidad.pagina_web}}</small></h3></div>



                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

          <div class="card">
          <div id="headingFour" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2"> DATOS JURÍDICOS</a></h6>
          </div>
          <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                    <div class="col"><h3>Tiene personería jurídica? : <small>{{entidad.personeria}}</small></h3></div>
                  <div class="col"><h3>Naturaleza : <small>{{entidad.naturaleza}}</small></h3></div>
                  <div class="col"><h3>Caracter de la entidad : <small>{{entidad.caracter_entidad}}</small></h3></div>
                  <div class="col"><h3>Tipo de Regimen : <small>{{entidad.regimen}}</small></h3></div>
                  <div class="col"><h3>Tipo de Subregimen : <small>{{entidad.subregimen}}</small></h3></div>
                  <div class="col"><h3>Depende de alguna entidad : <small>{{entidad.dependencia}}</small></h3></div>
                  <div class="col"><h3>Nombre de la entidad : <small>{{entidad.entidad_dependiente}}</small></h3></div>
                  <div class="col"><h3>Nivel de la entidad : <small>{{entidad.nivel}}</small></h3></div>
                  <div class="col"><h3>La entidad pertenece alguna red? : <small>{{entidad.red}}</small></h3></div>
                  <div class="col"><h3>Nombre de la red : <small>{{entidad.name_red}}</small></h3></div>
                  <div class="col"><h3>Nivel de la red : <small>{{entidad.nivel_red}}</small></h3></div>





                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

          <div class="card">
          <div id="headingFive" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">INFRAESTRUCTURA</a></h6>
          </div>
          <div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                  <div class="col"><h3>Tiene la organización acceso a internet? : <small>{{entidad.acceso_internet}}</small></h3></div>
                  <div class="col"><h3>Espacio : <small>{{entidad.espacio}}</small></h3></div>
                  <div class="col"><h3>Cuenta la entidad con infraestructura para discapacitados? : <small>{{entidad.infraestructura_discapacitados}}</small></h3></div>
                  <div class="col"><h3>Ocupa la entidad un bien de interés cultural? : <small>{{entidad.interes_cultural}}</small></h3></div>
                  <div class="col"><h3>Nivel del bien de interes cultural que ocupa? : <small>{{entidad.nivel_interescultural}}</small></h3></div>
                  <div class="col"><h3>Espacio disponibles por la organización para el desarrollo de sus actividades : <small>{{entidad.espacios_actividades}}</small></h3></div>




                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

           <div class="card">
          <div id="headingSix" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">EMPLEO</a></h6>
          </div>
          <div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                    <div class="col"><h3>Su organización generó empleo directo el último año? : <small>{{entidad.genero_empleo}}</small></h3></div>
                  <div class="col"><h3>Que tipo de empleo directo generó? : <small>{{entidad.tipo_empleo}}</small></h3></div>
                  <div class="col"><h3>Cuántos empleos no remunerados generó? : <small>{{entidad.cantidad_noremunerado}}</small></h3></div>
                  <div class="col"><h3>Qué duración tuvieron los empleos no remunerados que generó? : <small>{{entidad.duracion_noremunerados}}</small></h3></div>
                  <div class="col"><h3>Cuántos empleos remunerados generó? : <small>{{entidad.cantidad_remunerado}}</small></h3></div>
                  <div class="col"><h3>Qué duración tuvieron los empleos remunerados que generó? : <small>{{entidad.duracion_remunerados}}</small></h3></div>
                  <div class="col"><h3>Cuántos empleos remunerados generó por contratos de servicios? : <small>{{entidad.cantidadremunerado_ops}}</small></h3></div>
                  <div class="col"><h3>Cuántos empleos remunerados generó por contrato laboral? : <small>{{entidad.cantidadremunerado_laboral}}</small></h3></div>
                  <div class="col"><h3>Cantidad de recurso humano con el que cuenta la entidad? : <small>{{entidad.cantidadrecurso_humano}}</small></h3></div>




                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

          <div class="card">
          <div id="headingSeven" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">ACTIVIDADES</a></h6>
          </div>
          <div id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                   <div class="col"><h3>EL CAMPO DE LA PRINCIPAL ACTIVIDAD ARTÍSTICA O CULTURAL QUE DESARROLLA LA ORGANIZACIÓN ES : <small>{{entidad.actividad_principal}}</small></h3></div>
                  <div class="col"><h3>OTROS CAMPOS DE ACTIVIDADES EN QUE TRABAJA LA ORGANIZACIÓN SON: <small>{{entidad.otra_actividad}}</small></h3></div>
                  <div class="col"><h3>EL ÁREA ARTÍSTICA EN LA QUE LA ORGANIZACIÓN DESARROLLA SU PRINCIPAL ACTIVIDAD ES: <small>{{entidad.area_artistica}}</small></h3></div>
                  <div class="col"><h3>¿NÚMERO DE OBRAS PRODUCIDAS DURANTE EL ÚLTIMO AÑO, COMO EL RESULTADO DE LA PRÁCTICA ARTÍSTICA QUE DESARROLLA LAORGANIZACIÓN?: <small>{{entidad.numero_obras}}</small></h3></div>
                  <div class="col"><h3>¿LAS PRÁCTICAS ASTÍSTICAS QUE REALIZA LA ORGANIZACIÓN INCLUYEN ACTIVIDADES DE FORMACIÓN DE PÚBLICOS?  : <small>{{entidad.practicas}}</small></h3></div>
                  <div class="col"><h3>EL ACCESO DEL PÚBLICO AL RESULTADO DE LA PRÁCTICA ARTÍSTICA QUE DESARROLLA LA ORGANIZACIÓN ES DE CARÁCTER : <small>{{entidad.acceso}}</small></h3></div>
                  <div class="col"><h3>¿LA ENTIDAD ORGANIZA REGULARMENTE PROGRAMAS O PROYECTOS ENFOCADOS ESPECÍFICAMENTE A ATENDER NIÑOS , JO¿ÓVENES, ADULTOS O PERSONAS MAYORES? : <small>{{entidad.proyectos}}</small></h3></div>
                  <div class="col"><h3>¿HACIA CUÁLES GRUPOS DE EDAD SE ENFOCAN ESOS PROGRAMAS O PROYECTOS?: <small>{{entidad.grupos_edad}}</small></h3></div>
                  <div class="col"><h3>¿A QUE GRUPO PERTENECE LA POBLACIÓN BENEFICIARÍA DE LA PRODUCCIÓN ARTISTÍCA Y CULTURAL DE LA ORGANIZACIÓN?: <small>{{entidad.grupos_poblacion}}</small></h3></div>
                  <div class="col"><h3>¿DESARROLLA LA ORGANIZACIÓN ACTIVIDADES ESPECÍFICAMENTE DIRIGIDAS A PERSONAS CON DISCAPACIDAD? <small>{{entidad.organizacion_actividades}}</small></h3></div>
                  <div class="col"><h3>¿HACÍA CUALES MINORÍAS ÉTNICAS SE ENFOCAN ESTOS PROGRAMAS O PROYECTOS? : <small>{{entidad.etnico}}</small></h3></div>
                  <div class="col"><h3>¿DESARROLLA LA ORGANIZACIÓN ACTIVIDADES ESPECÍFICAMENTE DIRIGIDAS A PERSONAS CON DISCAPACIDAD?: <small>{{entidad.personas_discapacidad}}</small></h3></div>




                </div>
            </div>
              </p>
            </div>
          </div>
        </div>



        <div class="card">
          <div id="headingEight" class="card-header bg-white shadow-sm border-0">
            <h6 class="mb-0 font-weight-bold"><a href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">FORMACIÓN</a></h6>
          </div>
          <div id="collapseEight" aria-labelledby="headingSeven" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-5">
              <p class="font-weight-light m-0">
                  <div class="container">
                <div class="row row-cols-2">
                   <div class="col"><h3>¿AREAS ARTÍSTICAS EN LAS QUE IMPARTE FORMACIÓN? : <small>{{entidad.imparte_formacion}}</small></h3></div>
                  <div class="col"><h3>PRINCIPAL MODALIDAD DE FORMACIÓN QUE IMPARTE LA ORGANIZACIÓN : <small>{{entidad.modalidad}}</small></h3></div>



                </div>
            </div>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
                <div class="row py-3">
    <div class="col-lg-4 mx-auto text-white text-center">
                   <a class="btn btn-primary" href="{% url 'edit_entidad' id=entidad.id %}">Agregar o editar registro</a>

                </div>
                </div>
            </div>


{% endfor %}
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>

  </body>
</html>

