<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
    <style>

.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}

/*Lighbox CSS*/

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.github-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
  color: #fff;
  text-decoration: none;
}
    </style>
</head>
<body>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
    <div class="row justify-content-center" >
        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/1chiguire.png" width="40%" height="auto"/>
            </div>
         <div class="col-md-9">
           </div>
        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/2chiguire.png" width="40%" height="auto"/>
            </div>
         <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/3chiguire.png" width="40%" height="auto"/>
            </div>

</div>
    <div class="row justify-content-center" style="background-color: 	#A19E9E;">
        <br/>

</div>
            <div class="col-md-12">
                <div class="d-flex flex-column mb-10 mb-md-0">
         <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_11-28-50_8lZses9.png" width="100%" height="600px"/>
            </div>
    </div>

<div class="col-sm-12">
 <div class="col-md-12">
              <h1 sstyle="font-weight: bold; color: #DAEDFB;" >Capital de la abundancia.</h1>

         <h3 >Encuentros pedagógicos musicales, deportivos y dancísticos, juegos tradicionales adulto mayor,
maratón aeróbica, conversatorios,torneos de ajedrez, muestras folclóricas, llaneridad, sanmartinidad,
ferias artesanales, joropodromo, desfile de las tradicionales cuadrillas,tomas teatrales, encuentros
gastronómicos, mercados campesinos, subastas ganaderas y ferias equinas.</h3>
     <br/>
              </div>



<div class="col-sm-12">
     <div class="row justify-content-center">
            <div class="col-md-4">
                    <div class="row " style="background-color: 	#F5F5F5;">
        <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Cocinas tradicionales</button>
        </div>
                 <br/>
                <div class="row"  style="background-color: 	#F5F5F5;">
        <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Artesanías</button>
        </div>
                 <br/>
                <div class="row " style="background-color: 	#F5F5F5;">
                  <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Escuelas taller</button>
                 </div>
                 <br/>
                <div class="row" style="background-color: 	#F5F5F5;">
       <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Eventos y festivales</button>
        </div>
                 <br/>
                <div class="row" style="background-color: 	#F5F5F5;">
       <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Hoteles</button>
        </div>
                 <br/>
                <div class="row " style="background-color: 	#F5F5F5;">
       <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Patrimonio ambiental</button>
        </div>
                 <br/>
                 <div class="row " style="background-color: 	#F5F5F5;">
       <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Tesoros patrimoniales</button>
        </div>
                 <br/>
                 <div class="row " style="background-color: 	#F5F5F5;"  >
                     <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Historia</button>

        </div>
                 <br/>
            </div>
           <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_23-25-01.png" width="100%" />
                    </div>

                </div>
            </div>
          </div>


<div class="col-sm-12">
     <div class="row justify-content-center">
            <div class="col-md-6">
 <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />

                 <br/>
            </div>
           <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">

                    <div class="d-flex justify-content-between mb-3">
                      <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />

                     </div>
                    <div class="d-flex justify-content-between mb-3">
                    <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />

                    </div>

                </div>
            </div>
         <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                      <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />

                     </div>
                    <div class="d-flex justify-content-between mb-3">
                    <img src="https://backend.culturameta.gov.co/media/Captura_de_pantalla_de_2022-05-30_18-14-24.png" width="100%" />

                    </div>

                </div>
            </div>
          </div>








</div>

<br/>

    <br/>


    <div class="row justify-content-center" style="background-color: #DAEDFB;">
        <br/>
</div>
<br/>

  <div class="col-sm-12">
     <div class="row ">

            <div class="col-md-12">
                          <h2 style="font-weight: bold">
        Información general
                          </h2>
                         <br/>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Duración</td>
      <td>Se recomienda hacer la ruta en tres jornadas para aprovechar
del paisaje, sitios históricos y travesía por el rio.</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Tiempo tota</td>
      <td>20 horas</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Tiempo en vehículo</td>
      <td>6 horas</td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Tiempo a pie</td>
      <td>10 horas</td>
    </tr>
  <tr>
      <th scope="row"></th>
      <td>Longitud de la ruta</td>
      <td>250 kilómetros</td>
    </tr>
   <tr>
      <th scope="row"></th>
      <td>Temporada</td>
      <td>Todo el año,tener precaución cuando haya llovido por las
imprevistas crecientes de los rios.</td>
    </tr>
   <tr>
      <th scope="row"></th>
      <td>Edad recomendada</td>
      <td>Todas</td>
    </tr>
  </tbody>
</table>

          </div>


</div>


<br/>

</div>




            <br/>


 </div>


        </form>


<div class="row justify-content-center" style="background-color: #0098D8;">
     <div class="col-md-12" align="center">
       <h2 style="font-weight: bold; color: #FFFFFF;">Información de contacto</h2>
         </div>
 <div class="col-md-12" align="center">
    <h4 style=" color: #FFFFFF;">Dirección sede principal: Crr 8 #8-110 | 4-2 a San Martín de los Llanos - Meta - Colombia.</h4>
   </div>
    <div class="col-md-12" align="center">
        <h4 style=" color: #FFFFFF;">Teléfono: (8) 6716222 | Email: webmaster@culturameta.gov.co</h4>
   </div>
    <div class="col-md-12" align="center">
        <h4 style=" color: #FFFFFF;">Elaborado por Instituto del Cultura del Meta</h4>
   </div>

</div>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
</body>
<script type="text/javascript">
    // Create a lightbox
(function() {
  var $lightbox = $("<div class='lightbox'></div>");
  var $img = $("<img>");
  var $caption = $("<p class='caption'></p>");

  // Add image and caption to lightbox

  $lightbox
    .append($img)
    .append($caption);

  // Add lighbox to document

  $('body').append($lightbox);

  $('.lightbox-gallery img').click(function(e) {
    e.preventDefault();

    // Get image link and description
    var src = $(this).attr("data-image-hd");
    var cap = $(this).attr("alt");

    // Add data to lighbox

    $img.attr('src', src);
    $caption.text(cap);

    // Show lightbox

    $lightbox.fadeIn('fast');

    $lightbox.click(function() {
      $lightbox.fadeOut('fast');
    });
  });

}());
</script>
</html>
