<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
    <style>

.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}

/*Lighbox CSS*/

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.github-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
  color: #fff;
  text-decoration: none;
}
    </style>
</head>
<body>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
    <div class="row justify-content-center" >
        <div class="col-md-3">
         <img src="https://backend.culturameta.gov.co/media/Log.jpg" width="100%"  />
            </div>
         <div class="col-md-6">
           </div>
        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/2chiguire.png" width="40%" height="auto"/>
            </div>
         <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/3chiguire.png" width="40%" height="auto"/>
            </div>

</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <a href="https://drive.google.com/file/d/107o2fXESHIEPJV4qhc6boAciC1jbf0Vi/view?usp=sharing"><img class="d-block w-100"width="100%" height="600" src="https://backend.culturameta.gov.co/media/banner_tor4neo.png" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
     <iframe width="100%" height="600" src="https://www.youtube.com/embed/Z7ZciZwROy4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="col-sm-12">
     <div class="row justify-content-center">

           <div class="col-md-7" aling="center">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                         <a href="#">   <img src="https://backend.culturameta.gov.co/media/WhatsApp_Image_2022-07-27_at_2.32.17_PM.jpeg" width="100%" height="480px"/></a>
                    </div>

                </div>
            </div>
          <div class="col-md-3">
                    <div class="row " style="background-color: 	#F5F5F5;">
                        <img  src="https://backend.culturameta.gov.co/media/historia_2.png" width="5%" height="auto"/>
        <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Historia</button>
        </div>
                <div class="row"  style="background-color: 	#F5F5F5;">
                    <img src="https://backend.culturameta.gov.co/media/persona-con-sombrero-montando-a-caballo.png" width="5%" height="auto"/>
        <a href="https://drive.google.com/file/d/12sRfp9ALMXImNTK2UCSiS4GRpnWym-LM/view?usp=sharing"type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Cabalgata</a>
        </div>
                <div class="row " style="background-color: 	#F5F5F5;">
                  <img src="https://backend.culturameta.gov.co/media/festival_2.png" width="5%" height="auto"/>
             <a type="button" href="https://drive.google.com/file/d/1mbBk1tgk8PN6RT_6W_o2we7YyZamJYC2/view?usp=sharing"class="btn btn-link btn-lg" style="color: 	#000000;" >Conciertos </a>
                 </div>
                <div class="row" style="background-color: 	#F5F5F5;">
                    <img src="https://backend.culturameta.gov.co/media/restaurante.png" width="5%" height="auto"/>
       <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Bastimento</button>
        </div>
                <div class="row" style="background-color: 	#F5F5F5;">
                    <img src="https://backend.culturameta.gov.co/media/bailando.png" width="5%" height="auto"/>
       <a href="https://drive.google.com/file/d/1a7tas-7-iWikzrsF4lkyp2t0QF6COyWC/view?usp=sharing"type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Joropodromo</a>
        </div>
                <div class="row " style="background-color: 	#F5F5F5;">
                    <img src="https://backend.culturameta.gov.co/media/gorro-de-graduacion.png" width="5%" height="auto"/>
       <a href="https://drive.google.com/file/d/1OlpZo7GQ0GodVrRDCraA2IsUNieKrT3D/view?usp=sharing"type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Joropo Academico</a>
        </div>
                 <div class="row " style="background-color: 	#F5F5F5;">
                     <img src="https://backend.culturameta.gov.co/media/corona.png" width="5%" height="auto"/>
       <a type="button" href="https://drive.google.com/file/d/1HwwT9R6PEvald3KWeVZTo2uLlxNUOdfH/view?usp=sharing"class="btn btn-link btn-lg" style="color: 	#000000;" >Reinado</a>
        </div>
                 <div class="row " style="background-color: 	#F5F5F5;"  >
                     <img src="https://backend.culturameta.gov.co/media/WhatsApp_Image_2022-07-30_at_3.29.50_PM.jpeg" width="5%" height="auto"/>
                     <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Organización</button>
        </div>
              <div class="row " style="background-color: 	#F5F5F5;"  >
                     <img src="https://backend.culturameta.gov.co/media/WhatsApp_Image_2022-08-11_at_7.55.23_PM.jpeg" width="5%" height="auto"/>
                     <button type="button" class="btn btn-link btn-lg" style="color: 	#000000;" >Cine</button>
        </div>
               <div class="row " style="background-color: 	#F5F5F5;"  >
                     <img src="https://backend.culturameta.gov.co/media/WhatsApp_Image_2022-07-30_at_3.29.50_PM.jpeg" width="5%" height="auto"/>
                     <a type="button" class="btn btn-link btn-lg" href="/votar" style="color: 	#000000;" >Memorias 53ª Torneo </a>

        </div>
                 <br/>
            </div>
          </div>
<iframe style="width:100%;height:800px" src="https://online.fliphtml5.com/cnqiv/yzwe/"  seamless="seamless"scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe>

     <div class="row justify-content-center"style="background-color: 	#A5A5A5;">
            <div class="col-md-8">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                          <h1 style="font-weight: bold; color: #000000;">America Rey</h1>
                         <br/>

                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <h4 >Conozca a la primer mujer
homenajeada en los 57 años del
Torneo Internacional del Joropo</h4>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-link btn-lg" style="font-weight: bold; color: #3366CC;">Ver mas...</button>

                    </div>
                </div>
            </div>
           <div class="col-md-4" style="background-color: 	#A19E9E;">
                <div class="d-flex flex-column mb-10 mb-md-0">

                     <div class="d-flex justify-content-between mb-3">
                       <img src="https://backend.culturameta.gov.co/media/Am%C3%A9rica.png" width="100%" height="599px"/>
                    </div>

                </div>
            </div>
          </div>




<br/>
<div class="col-sm-12">
<div class="col-sm-12">



<br/>




    <br/>
      </div>
      </div>

</div>

<div class="col-sm-12" style="background-color: 	#A5A5A5;">
     <div class="row justify-content-center">

           <div class="col-md-3">
                <div class="d-flex flex-column mb-10 mb-md-0">

                   <h1 >Noticias</h1>


                </div>
            </div>
          <div class="col-md-9">
<hr class="col-sm-12">

  <!--Carousel Wrapper-->
  <div id="multi-item-example1" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example1" data-slide="prev"><img src="https://backend.culturameta.gov.co/media/Der_4.jpg" width="1%" height="auto"/></a>
      <a class="btn-floating" href="#multi-item-example2" data-slide="next"><a class="btn-floating" href="#multi-item-example" data-slide="prev"><img src="https://backend.culturameta.gov.co/media/Der_3.jpg" width="1%" height="auto"/></a></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example1" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example2" data-slide-to="1"></li>

    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">



        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
           <img class="card-img-top"
                 src="https://backend.culturameta.gov.co/media/N01.JPG" alt="Card image cap">
  <div class="card-body">
                  <h3 >Pele el Ojo: más de 2.500 asistentes en cuatro días</h3>
                <h5 >8/7/2022</h5>
               <a href="https://drive.google.com/file/d/1UuWhjb0MBXC7rZEC8wcl9DWCRlzcuEeJ/view?usp=drivesdk"><button type="button" class="btn btn-link btn-lg" style="font-weight: bold; color: #3366CC;">Ver mas...</button></a>


            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
                 src="https://backend.culturameta.gov.co/media/N02.JPG" alt="Card image cap">
 <div class="card-body">
                    <h3 >En el "Llano hay Medio Ambiente", una. alerta desde la fotografía</h3>
                <h5 >8/7/2022</h5>
               <a href="https://drive.google.com/file/d/1VdUVHEfB8EwHUe-V8PHLwL7pEvtzIuGQ/view?usp=drivesdk"><button type="button" class="btn btn-link btn-lg" style="font-weight: bold; color: #3366CC;">Ver mas...</button></a>

            </div>
          </div>
        </div>

        <div class="col-md-3" style="float:left">
          <div class="card mb-2">
           <img class="card-img-top"
                 src="https://backend.culturameta.gov.co/media/Galeria_.png" alt="Card image cap">
         <div class="card-body">
                         <h3 >El Taller de producción musical abrió Joropo Académico</h3>
                <h5 >8/7/2022</h5>
                <a href="https://drive.google.com/file/d/1GZ2wUDFHbC-L3cGUccipXMxhug1ixp__/view?usp=drivesdk"><button type="button" class="btn btn-link btn-lg" style="font-weight: bold; color: #3366CC;">Ver mas...</button></a>


            </div>
          </div>
        </div>
     <div class="col-md-3" style="float:left">
          <div class="card mb-2">
          <img class="card-img-top"
                 src="https://backend.culturameta.gov.co/media/N04.png" alt="Card image cap">

   <div class="card-body">
                   <h3 >Con ’Llano Fue’ empezó el Torneo Internacional de Joropo.</h3>
                <h5 >8/9/2022</h5>
              <a href="https://drive.google.com/file/d/1ixa7f9F4W78FUwMdww_nt8tSaQXwdGWw/view?usp=drivesdk"> <button type="button" class="btn btn-link btn-lg" style="font-weight: bold; color: #3366CC;">Ver mas...</button></a>


            </div>
          </div>
        </div>
      </div>
      <!--/.First slide-->

      <!--Second slide-->
    <!--  <div class="carousel-item">




      </div>-->
      <!--/.Second slide-->



    </div>
    <!--/.Slides-->

  </div>
                 <br/>
            </div>
          </div>


</div>
<div class="col-sm-12">
<div class="col-sm-12">



<br/>




    <br/>
      </div>
      </div>

</div>
<iframe src="https://snapwidget.com/embed/1006669" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%;  height=800px;"></iframe>
<div class="col-sm-12">

<div class="col-sm-12">

            </div>



<br/>




<div class="col-sm-12">
     <div class="row justify-content-center">
            <div class="col-md-12" align="center">
                <h1 style="font-weight: bold;">Con el apoyo de</h1>
                       <img src="https://backend.culturameta.gov.co/media/Log.jpg" width="50%"  />


                </div>

     </div>
 </div>

















<br/>

    <br/>


<div class="row justify-content-center" style="background-color: #13344e;">
     <div class="col-md-1" align="center">
   </div>
     <div class="col-md-6" align="left">
       <h4 style="color: #f0d87f ;">Contáctenos:</h4>
         <br/>
         <h4 style="color: #f0d87f ;">torneo@culturameta.gov.co</h4>
         <h4 style="color: #f0d87f ;">San Martin de los Llanos</h4>
         <h4 style="color: #f0d87f ;">Meta, Colombia</h4>
         <h4 style="color: #f0d87f ;">Instituto Departamental de Cultura del Meta.</h4>

         </div>
    <div class="col-md-1" align="left">
         <hr style=" height:25vh;
 width:.5vw;
 border-width:0;
 color:#000;
 background-color:#f0d87f   ;">
        </div>
 <div class="col-md-4" align="left">
    <h4 style="color: #f0d87f ;">Siguenos:</h4>
     <br/>
 <a href="https://www.facebook.com/TorneodelJoropo">
<img src="https://backend.culturameta.gov.co/media/FB_125_1.png" width="8%" height="auto"/>
</a>
      <a href="https://instagram.com/torneodeljoropooficial?igshid=YmMyMTA2M2Y=">
<img src="https://backend.culturameta.gov.co/media/Ins_125_1.png" width="8%" height="auto"/>
</a>

      <a href="https://mobile.twitter.com/torneojoropo">
<img src="https://backend.culturameta.gov.co/media/tw_125_1.png" width="8%" height="auto"/>
</a>

      <a href="https://www.tiktok.com/@insculturameta">
<img src="https://backend.culturameta.gov.co/media/tik_125_1.png" width="8%" height="auto"/>
</a>


   </div>

</div>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
</body>
<script type="text/javascript">
    // Create a lightbox
(function() {
  var $lightbox = $("<div class='lightbox'></div>");
  var $img = $("<img>");
  var $caption = $("<p class='caption'></p>");

  // Add image and caption to lightbox

  $lightbox
    .append($img)
    .append($caption);

  // Add lighbox to document

  $('body').append($lightbox);

  $('.lightbox-gallery img').click(function(e) {
    e.preventDefault();

    // Get image link and description
    var src = $(this).attr("data-image-hd");
    var cap = $(this).attr("alt");

    // Add data to lighbox

    $img.attr('src', src);
    $caption.text(cap);

    // Show lightbox

    $lightbox.fadeIn('fast');

    $lightbox.click(function() {
      $lightbox.fadeOut('fast');
    });
  });

}());

</script>
<script src="https://snapwidget.com/js/snapwidget.js"></script>
</html>
