<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <style>
a {
  font-family: 'Montserrat';
}
</style>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Title</title>
    <style>

.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}

.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}

/*Lighbox CSS*/

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.github-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
  color: #fff;
  text-decoration: none;
}
    </style>
</head>
<body>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
      <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
    <div class="row justify-content-center" >
        <div class="col-md-3">
        <a href="/torneo2022">  <img src="https://backend.culturameta.gov.co/media/Log.jpg" width="100%"  /></a>
            </div>
         <div class="col-md-6">
           </div>
        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/2chiguire.png" width="40%" height="auto"/>
            </div>
         <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/3chiguire.png" width="40%" height="auto"/>
            </div>

</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
   <a href="https://drive.google.com/file/d/107o2fXESHIEPJV4qhc6boAciC1jbf0Vi/view?usp=sharing"><img class="d-block w-100"width="100%" height="600" src="https://backend.culturameta.gov.co/media/banner_tor4neo.png" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
     <iframe width="100%" height="600" src="https://www.youtube.com/embed/Z7ZciZwROy4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="col-sm-12">
     <div class="row justify-content-center">

           <div class="col-md-4">
                <div class="d-flex flex-column mb-10 mb-md-0">
    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button style ="color:#000000; font-family: sans-serif;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         + Modalidad Inédita
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a style ="color:#000000; font-family: sans-serif;"class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Poema Inédito</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Golpe Inédito</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Pasaje Inédito</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Obra inédita instrumental para Arpa</a>
    <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="vi-pills-settings-tab" data-toggle="pill" href="#v-pills-arpa" role="tab" aria-controls="v-pills-arpa" aria-selected="false">Obra inédita instrumental para Bandola Llanera</a>
        <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="vii-pills-settings-tab" data-toggle="pill" href="#v-pills-bandola" role="tab" aria-controls="v-pills-bandola" aria-selected="false">Obra inédita instrumental para Cuatro Llanero</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button style ="color:#000000; font-family: sans-serif;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        +  Modalidad Voces
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
            <div class="nav flex-column nav-pills" id="v-pills-tab2" role="tablist" aria-orientation="vertical">
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link active" id="v-pills-home-tab2" data-toggle="pill" href="#v-pills-home2" role="tab" aria-controls="v-pills-home2" aria-selected="true">Declamor</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-profile-tab2" data-toggle="pill" href="#v-pills-profile2" role="tab" aria-controls="v-pills-profile2" aria-selected="false">Voz masculina criolla</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-messages-tab2" data-toggle="pill" href="#v-pills-messages2" role="tab" aria-controls="v-pills-messages2" aria-selected="false">Voz masculina Estilizada</a>
    <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="vi-pills-settings-tab2" data-toggle="pill" href="#vi-pills-settings2" role="tab" aria-controls="vi-pills-settings2" aria-selected="false">Voz femenina criolla</a>
        <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="vii-pills-settings-tab2" data-toggle="pill" href="#vii-pills-settings2" role="tab" aria-controls="vii-pills-settings2" aria-selected="false">Voz femenina Estilizada</a>
        </div>
       </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button style ="color:#000000; font-family: sans-serif;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        + Modalidad Conjunto y ensamble
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
            <div class="nav flex-column nav-pills" id="v-pills-tab3" role="tablist" aria-orientation="vertical">
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link active" id="v-pills-home-tab3" data-toggle="pill" href="#v-pills-home3" role="tab" aria-controls="v-pills-home3" aria-selected="true">Ensambles Nuevos formatos</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-profile-tab3" data-toggle="pill" href="#v-pills-profile3" role="tab" aria-controls="v-pills-profile3" aria-selected="false">Modalidad Conjunto de Música Tradicional</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-messages-tab3" data-toggle="pill" href="#v-pills-messages3" role="tab" aria-controls="v-pills-messages3" aria-selected="false">Conjunto de Música Llanera - Nuevas sonoridades</a>
        </div>
       </div>
    </div>
       <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button style ="color:#000000; font-family: sans-serif;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        + Modalidad Danza
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
         <div class="card-body">
            <div class="nav flex-column nav-pills" id="v-pills-tab4" role="tablist" aria-orientation="vertical">
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link active" id="v-pills-home-tab4" data-toggle="pill" href="#v-pills-home4" role="tab" aria-controls="v-pills-home4" aria-selected="true">Pareja de Baile Moderno</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-profile-tab4" data-toggle="pill" href="#v-pills-profile4" role="tab" aria-controls="v-pills-profile4" aria-selected="false">Pareja de Baile Tradicional (Los de hoy)</a>
  <a style ="color:#000000; font-family: sans-serif;" class="nav-link" id="v-pills-messages-tab4" data-toggle="pill" href="#v-pills-messages4" role="tab" aria-controls="v-pills-messages4" aria-selected="false">Pareja de Baile Tradicional (Los de ayer)</a>
        </div>
       </div>
    </div>
  </div>
</div>
         </div>

                </div>
            </div>
          <div class="col-md-8">
               <div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHc9X28Z3HC2WPqUUW5Ph0rkEGCNdn2bZaH0doo91o8_D5jg/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSexkeMSr8Skhi8HBBrPYVPDuFB6iZ8YE9Nw7CG0iotX6cF-vw/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdJHAR37OdtMGuzECogF10Bm4eCy00papbVW5M8MJ1TUKf4GA/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdL8IBKs8hzg0qEEhDMg46wwCrg5qA21qrSjlyRxmf0e7lsfg/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                   <div class="tab-pane fade" id="vi-pills-settings" role="tabpanel" aria-labelledby="vi-pills-settings-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfBbb7y9JegvSzL72O6OtvW8muE513kmcwTOXfwJ0rPH3oVzg/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                    <div class="tab-pane fade" id="vii-pills-settings" role="tabpanel" aria-labelledby="vii-pills-settings-tab"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdh_45PIiqFolkzGmwM22M2lP8D4YIOAIBFfMze253AciJIew/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                   <div class="tab-pane fade show active" id="v-pills-home2" role="tabpanel" aria-labelledby="v-pills-home-tab2"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8vqlSEVcbnDycSfz0z5aco7C433cYjJUQOe295cUtdhwn3w/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-profile2" role="tabpanel" aria-labelledby="v-pills-profile-tab2"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-2KiXq3TO-v0pf5WZHGapMQ7Lr8B4EfbfNx5djbKNsofdtw/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab2"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerVP6mb7jhhv4Fe8PCK_JMJXDDKEF0KGymh6lzzxj8yD6E3g/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                   <div class="tab-pane fade" id="vi-pills-settings2" role="tabpanel" aria-labelledby="vi-pills-settings-tab2"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyrOE2N4oI9qVet4Ci3lI2l9eTXWx9Xx5pcTbk1XvZfKzGNQ/viewform?embedded=true" width="640" height="1303" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                    <div class="tab-pane fade" id="vii-pills-settings2" role="tabpanel" aria-labelledby="vii-pills-settings-tab2"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf44NYHHTKNKOF9GvcKLueQVQEIeYrWjin5-JJnpC3LdMGnHA/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                   <div class="tab-pane fade show active" id="v-pills-home3" role="tabpanel" aria-labelledby="v-pills-home-tab3"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdQC8PvrOKlMuV5fJXruOn9hDk3UgS4taJrPOXz6R9iPqdiqg/viewform?embedded=true" width="640" height="1298" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-profile3" role="tabpanel" aria-labelledby="v-pills-profile-tab3"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewsF0moIBEcE8S0dsNa_yO5uexQpQCeC4RhoC3c1GHTmkM2A/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-messages3" role="tabpanel" aria-labelledby="v-pills-messages-tab3"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeZzazaQJO85RqOQCo1pGYQrwUqCxjjR5wXjEWw-9bKBTawrA/viewform?embedded=true" width="640" height="1389" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
                    <div class="tab-pane fade show active" id="v-pills-home4" role="tabpanel" aria-labelledby="v-pills-home-tab4"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAziaegvKu7X_F4-9XgtWjo7mOGgbpUjs5EX-fkUbKbHgGTg/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-profile4" role="tabpanel" aria-labelledby="v-pills-profile-tab4"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeFw7pyM95V-4alSyOn7SHyldSdLmY6Jg4K3tcU8mfRtV2G_Q/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
  <div class="tab-pane fade" id="v-pills-messages4" role="tabpanel" aria-labelledby="v-pills-messages-tab4"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewTZVANytx2qLllPkKiYoX3py4IF3GHhAh5H1O43ulymYWiQ/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewTZVANytx2qLllPkKiYoX3py4IF3GHhAh5H1O43ulymYWiQ/viewform?embedded=true" width="640" height="1346" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
</div>
                 <br/>
            </div>
          </div>

<div class="col-5">


    </div>
<div class="col-5">

    </div>
<br/>

    <br/>


<br/>


</div>




            <br/>


 </div>


        </form>


<div class="row justify-content-center" style="background-color: #13344e ;">
     <div class="col-md-1" align="center">
   </div>
     <div class="col-md-6" align="left">
       <h4 style="color: #f0d87f ;">Contáctenos:</h4>
         <br/>
         <h4 style="color: #f0d87f ;">torneo@culturameta.gov.co</h4>
         <h4 style="color: #f0d87f ;">San Martin de los Llanos</h4>
         <h4 style="color: #f0d87f ;">Meta, Colombia</h4>
         <h4 style="color: #f0d87f ;">Instituto Departamental de Cultura del Meta.</h4>

         </div>
    <div class="col-md-1" align="left">
         <hr style=" height:25vh;
 width:.5vw;
 border-width:0;
 color:#000;
 background-color:#f0d87f   ;">
        </div>
 <div class="col-md-4" align="left">
    <h4 style="color: #f0d87f ;">Siguenos:</h4>
     <br/>
     <a style ="color:#000000; font-family: sans-serif;" href="#">
<img src="https://backend.culturameta.gov.co/media/Log.jpg" width="20%" height="auto"/>
</a>


   </div>

</div>

<div class="row justify-content-center" style="background-color: #3366CC;">

        <div class="col-md-1">
         <img src="https://backend.culturameta.gov.co/media/logo-svg_0GLFy3G.png" width="100%" height="auto"/>
            </div>
         <div class="col-md-11">
           </div>

</div>
</body>
<script type="text/javascript">
    // Create a lightbox
(function() {
  var $lightbox = $("<div class='lightbox'></div>");
  var $img = $("<img>");
  var $caption = $("<p class='caption'></p>");

  // Add image and caption to lightbox

  $lightbox
    .append($img)
    .append($caption);

  // Add lighbox to document

  $('body').append($lightbox);

  $('.lightbox-gallery img').click(function(e) {
    e.preventDefault();

    // Get image link and description
    var src = $(this).attr("data-image-hd");
    var cap = $(this).attr("alt");

    // Add data to lighbox

    $img.attr('src', src);
    $caption.text(cap);

    // Show lightbox

    $lightbox.fadeIn('fast');

    $lightbox.click(function() {
      $lightbox.fadeOut('fast');
    });
  });

}());
</script>
</html>
