
{% load static %}
<html>
    <head>
        <title>Registro de información</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">

            <h1><a href="/">Registre o edite sus datos</a></h1>
        </div>
        <div class="container">
  <!-- For demo purpose -->
          <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center">
                        {% block container %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table border="1">
                        {{ form}}
                        </table>
                        <input type="submit" value="Editar información">
                      </form>

                        {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>